body {
 	color: #42bdff;
 	font-family: Helvetica, Verdana, Arial, Sans-Serif;
 	font-size: 13;
 	font-weight: 100;
  margin: 0px;
}
/*table {
  z-index: -1;
  width: 250px;
  margin-right: 0px;
  margin-left: auto;
  float: right contain;
  clear float left: all;
 	font-family: Helvetica, Verdana, Arial, Sans-Serif;
 	font-size: 13;
 	font-weight: 100;
 	overflow:hidden;
}*/
.forms {
  width: 30%;
  float: left;
  clear float right;
  clear float align-content: left;
  overflow:hidden;
  margin: 8px;
}
#room {
  position: relative;
}
.table-image-div {
  z-index: -1;
  width:  100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position:center; 
}
.announceUpdate {
  width: 50%;
  height: 2%;
  top: 1.5%;
  left: 25%;
  font-size: 13;
  background-color: white;
  color: black;
  display: inline-block;
  position: absolute;
}
.card {
  z-index: 5;
  position: absolute;
}
.holeCard1 {
  width: 20%;
}
.holeCard2 {
  width: 20%;
}
.community-card-container {
  width: 21%;
  height: 10%;
  top: 42%;
  left: 35%;
  color: blue;
  display: inline-block;
  position: absolute;
}
.community-card {
  width: 17%;
}
.community-card-show {
  width: 3.3%;
/* content: url();*/
}
.community-card1 {
  left: 0%;
}
.community-card2 {
  left: 20%;
}
.community-card3 {
  left: 40%;
}
.community-card4 {
  left: 60%;
}
.community-card5 {
  left: 80%;
}

.table {
  z-index: 4;
  width: 100%;
  position: absolute;
}
table {
  font-size: 12;
  /*color: #00afff;*/
  color: aqua;
}
.tableLeft {
  color: magenta;
}
.tableRight {
  width:100%;
  /*border:1px solid #FF0000;*/
}
.pots-container {
  z-index: 4;
  width: 12%;
  height: 12%;
  top: 37%;
  left: 55.7%;
  /*background-color: blue;*/
  display: inline-block;
  position: absolute;
}
.pots-table.table {
  top: 0%;
  left: 0%;
  /*border:1px solid #FF0000;*/
  border-collapse: collapse;
  color: yellow;
}
.pots-table-value {
  color: aqua;
}
.pots-table-type {
  color: magenta;
}
.row-for-players-in-pot {
  display:block;
  width: 100%;
}
.pots-table-divider {
  color: black;
}

/* SEATS */

.seat {
  display: inline-block;
  position: absolute;
}
.seat-bottom {
  z-index: 3;
  width: 17%;
  height: 28%;
  top: 54%;
  left: 39%;
  /*background-color: blue;*/
}
.bottom.dealer-button {
  z-index: 0;
  width: 6%;
  height: auto;
  top: 29%;
  left: 23%;
  position: absolute;
}
.bottom-table.table {
  top: 60%;
  left: 13%;
}
.bottom-card.holeCard1 {
    top: 9%;
    left: 32%;
}
.bottom-card.holeCard2 {
    top: 9%;
    left: 55%;
}
.seat-bottom-left {
  z-index: 3;
  width: 17%;
  height: 28%;
  top: 52%;
  left: 17%;
  /*background-color: red;*/
}
.bottom-left.dealer-button {
  z-index: 0;
  width: 6%;
  height: auto;
  top: 21%;
  left: 48%;
  position: absolute;
}
.bottom-left-table.table {
  top: 55%;
  left: 0%;
}
.bottom-left-card.holeCard1 {
    top: 15%;
    left: 64%;
}
.bottom-left-card.holeCard2 {
    top: 15%;
    left: 87%;
}
.seat-lower-left {
  z-index: 2;
  width: 17%;
  height: 28%;
  top: 40%;
  left: 8%;
  /*background-color: green;*/
}
.lower-left.dealer-button {
  z-index: 0;
  width: 6%;
  height: auto;
  top: 25%;
  left: 85%;
  position: absolute;
}
.lower-left-table.table {
  top: 25%;
  left: -18%;
}
.lower-left-card.holeCard1 {
    top: 21%;
    left: 94%;
}
.lower-left-card.holeCard2 {
    top: 21%;
    left: 117%;
}
.seat-upper-left {
  z-index: 1;
  width: 17%;
  height: 28%;
  top: 22.5%;
  left: 11%;
  /*background-color: brown;*/
}
.upper-left.dealer-button {
  z-index: 0;
  width: 6%;
  height: auto;
  top: 55.5%;
  left: 83%;
  position: absolute;
}
.upper-left-table.table {
  top: 0%;
  left: 0%;
}
.upper-left-card.holeCard1 {
    top: 46%;
    left: 91%;
}
.upper-left-card.holeCard2 {
    top: 46%;
    left: 114%;
}
.seat-top-left {
  z-index: 0;
  width: 17%;
  height: 28%;
  top: 11%;
  left: 23%;
  /*background-color: cyan;*/
}
.top-left.dealer-button {
  z-index: 0;
  width: 6%;
  height: auto;
  top: 70%;
  left: 62%;
  position: absolute;
}
.top-left-table.table {
  top: -3%;
  left: 15%;
}
.top-left-card.holeCard1 {
    top: 67%;
    left: 72%;
}
.top-left-card.holeCard2 {
    top: 67%;
    left: 95%;
}
.seat-top {
  z-index: 0;
  width: 17%;
  height: 28%;
  top: 14%;
  left: 42%;
  /*background-color: yellow;*/
}
.top.dealer-button {
  z-index: 0;
  width: 6%;
  height: auto;
  top: 67%;
  left: 70%;
  position: absolute;
}
.top-table.table {
  top: 0%;
  left: 17%;
}
.top-card.holeCard1 {
    top: 61%;
    left: 25%;
}
.top-card.holeCard2 {
    top: 61%;
    left: 48%;
}
.seat-top-right {
  z-index: 0;
  width: 17%;
  height: 28%;
  top: 12%;
  left: 61%;
  /*background-color: purple;*/
}
.top-right.dealer-button {
  z-index: 0;
  width: 6%;
  height: auto;
  top: 70%;
  left: 36%;
  position: absolute;
}
.top-right-table.table {
  top: 0%;
  left: 16%;
}
.top-right-card.holeCard1 {
    top: 56%;
    left: -10%;
}
.top-right-card.holeCard2 {
    top: 56%;
    left: 13%;
}
.seat-upper-right {
  z-index: 1;
  width: 17%;
  height: 28%;
  top: 23%;
  left: 71%;
  /*background-color: white;*/
}
.upper-right.dealer-button {
  z-index: 0;
  width: 6%;
  height: auto;
  top: 69%;
  left: 23%;
  position: absolute;
}
.upper-right-table.table {
  top: 10%;
  left: 25%;
}
.upper-right-card.holeCard1 {
    top: 45%;
    left: -22%;
}
.upper-right-card.holeCard2 {
    top: 45%;
    left: 1%;
}
.seat-lower-right {
  z-index: 2;
  width: 17%;
  height: 28%;
  top: 42%;
  left: 75%;
  /*background-color: orange;*/
}
.lower-right.dealer-button {
  z-index: 0;
  width: 6%;
  height: auto;
  top: 49%;
  left: -5%;
  position: absolute;
}
.lower-right-table.table {
  top: 27%;
  left: 53%;
}
.lower-right-card.holeCard1 {
    top: 15%;
    left: -31%;
}
.lower-right-card.holeCard2 {
    top: 15%;
    left: -8%;
}
.seat-bottom-right {
  z-index: 3;
  width: 17%;
  height: 28%;
  top: 54%;
  left: 59%;
  /*background-color: blue;*/
}
.bottom-right.dealer-button {
  z-index: 0;
  width: 6%;
  height: auto;
  top: 28%;
  left: 20%;
  position: absolute;
}
.bottom-right-table.table {
  top: 50%;
  left: 35%;
}
.bottom-right-card.holeCard1 {
    top: 9%;
    left: 29%;
}
.bottom-right-card.holeCard2 {
    top: 9%;
    left: 52%;
}



.highlight {
  border: 2px solid #dadada;
  border-radius: 7px;
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

/*.clearfix:after { 
  content: "."; 
  visibility: hidden; 
  display: block; 
  height: 0; 
  clear: both;
}*/